.footer{
    padding-top: 30px;
    height: 80px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    ul{
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        li{
            font-size:11px;
            color: #5e6e75;
            list-style-type: none;
            padding: 0 10px;
            border-left: 1px solid #5e6e75;
            &:nth-child(1){
                border:0
            }
            a{
                color: #5e6e75;
                text-decoration: none;
            }
        }
    }
}
    
